# Python Practice Questions.

## 1. Write a python program to swap below string

In [4]:
string='Ravi Kumar Patel'
lst=string.split(' ')
temp=lst[1]
lst[1]=lst[0]
lst[0]=temp
string=' '.join(lst)
print(string)

Kumar Ravi Patel

## 2. Write a python program to find maximum number from the list without using sorting

In [5]:
lst=[87,43 ,76,1,99,23,8]
max(lst)

99

## 3. Write python to find the occurance of character in string

In [15]:
string='google'
dict={}
for i in string:
    if i not in dict:
        dict[i]=1
    else:
        dict[i]+=1
print(dict)

{'g': 2, 'o': 2, 'l': 1, 'e': 1}

## 4. Use list comprehension to solve below problem .Find all number from 1-1000 are divided by 7

In [16]:
lst=[x for x in range(1,1000) if x%7==0]
print(lst)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

## 5. Produce a list containing word even if number is even and odd if number is odd

In [19]:
lst=[75,8,94,2,23,29,100]
final=['even' if x%2==0 else 'odd' for x in lst]
final

['odd', 'even', 'even', 'even', 'odd', 'odd', 'even']

## 6. Write a program to extract numbers from the string

In [21]:
string='hello 1 hi 9 . How are 10'
lst=string.split(' ')
final=[]
for i in lst:
    if i.isdigit():
        final.append(int(i))
print(final)

[1, 9, 10]

## 7. Write a program to find give string of email is in correct format or not.

In [22]:
string='xyz@gmail.com'
if string.endswith('@gmail.com'):
    print('correct')
else:
    print("wrong")

correct

## 8. Write program to remove all white space in from the string

In [25]:
string=str(input("enter input: "))
print(string.replace(' ',''))

enter input:  Infosys  Spring  Board

InfosysSpringBoard

## 9. Write a program to find sum of 1to50 numbers using list comprehension

In [33]:
lst=[y for y in range(1,51)]
sum(lst)

1275

## 10. Write a program to check string is alpha numeric or not

In [37]:
string=input('Enter input' )
x= string.isalnum()
print(x)

Enter input Infosys342

True